=maxw($width)
	@media screen and (max-width: #{$width})
		@content

=minw($width)
	@media screen and (min-width: #{$width})
		@content

=minmaxw($minw, $maxw)
	@media screen and (min-width: #{$minw}) and (max-width: #{$maxw})
		@content
		
=br($radius: 9px)
	-webkit-border-radius: $radius
	border-radius: $radius

=box_shadow($shadow)
	-webkit-box-shadow: $shadow
	box-shadow: $shadow
	
=tr($function)
	-webkit-transition: $function
	-moz-transition: $function
	-ms-transition: $function
	-o-transition: $function
	transition: $function
	
=tf($function)
	-webkit-transform: $function
	-moz-transform: $function
	-ms-transform: $function
	-o-transform: $function
	transform: $function

=tfo($val)
	-webkit-transform-origin: $val
	-moz-transform-origin: $val
	-ms-transform-origin: $val
	-o-transform-origin: $val
	transform-origin: $val
	
=clr()
	&:before,
	&:after
		content: ""
		display: table
	&:after 
		clear: both
	zoom: 1
	
=btn($color, $lh, $pr, $pl, $fw: 700, $fz: 14px)
	display: inline-block
	padding: 0 $pr 0 $pl
	border: 2px solid $color
	font-weight: $fw
	font-size: $fz
	line-height: $lh
	text-transform: uppercase
	text-decoration: none
	color: $color
	white-space: nowrap
	+tr(all .35s)
	&:hover, &:focus
		background-color: $color
		color: #FFF
		
=line_bottom($bgc: #cdd0d4, $top: 13px, $w: 85px, $h: 2px)
	&:after
		content: ""
		display: block
		position: relative
		right: 8px
		margin: $top auto 0
		width: $w
		height: $h
		background-color: $bgc
		
=placeholder($color)
	&::-webkit-input-placeholder
		color: $color
		+tr(all .3s ease)
	&::-moz-placeholder
		color: $color
		+tr(all .3s ease)
	&:-moz-placeholder
		color: $color
		+tr(all .3s ease)
	&:-ms-input-placeholder
		color: $color
		+tr(all .3s ease)
	&:focus::-webkit-input-placeholder
		color: transparent
		+tr(all .3s ease)
	&:focus::-moz-placeholder
		color: transparent
		+tr(all .3s ease)
	&:focus:-moz-placeholder
		color: transparent
		+tr(all .3s ease)
	&:focus:-ms-input-placeholder
		color: transparent
		+tr(all .3s ease)

=background-size($size)
	-webkit-background-size: $size
	-o-background-size: $size
	background-size: $size

=box-sizing($value)
	-webkit-box-sizing: $value
	-moz-box-sizing: $value
	box-sizing: $value

$browser-context: 16

@function em($pixels, $context: $browser-context)
	@return #{$pixels/$context}em