/*.icon-ok{
    background: url("../images/icons/icon_ok.png") 0 14px no-repeat;
    padding-left: 2rem !important;
}

.icon-time{
    background: url("../images/icons/icon_time2.png") 0 14px no-repeat;
    padding-left: 2rem !important;
}*/

.withdrawals-status-img, .withdrawals-status-text{
    display: inline;
}

.withdrawals-status-img{
    padding-right: 5px;
}
.withdrawals-status-cursor{
    cursor: pointer;
}