.deal-history__row td.deal-history__transaction-status{
	width: 200px;
}
.form-create-ad__label_1{
	margin-right: 23px;


	width: 280px;
	text-align: right;
	font-size: 16px;
	color: #5D5D5E;
	cursor: pointer;

	display: inline-block;
	vertical-align: top;
	line-height: normal;
	
}
.form-create-ad-buy{
	cursor: pointer;
}
.form-create-ad_block,
.form-create-ad__control-wrap-inner-1{
	display: inline-block;
}
.form-create-ad_block{
	vertical-align: top;
}
.form-create-ad_block_left{
	margin-top: 5px;
}
.form-create-ad__control-1{
	-webkit-transform: translateY(7px);
	-ms-transform: translateY(7px);
	-o-transform: translateY(7px);
	transform: translateY(7px);
}
.form-create-ad__control-wrap-inner-1{
	margin-right: 20px;
}

.form_create_caption_dn{
	display: none;
}
.form-create-ad__item_minimum-amount .form-create-ad__hint{
	margin-top: 0;
	width: 700px;
}
.form-create-ad__item_amount-relevance .form-create-ad__control-wrap{
	width: auto;
	min-width: 73px;
}
.jq-checkbox{
	margin: 0;
}
.form-create-ad__item_purchase-amount .number-purchase{
	margin-top: 11px;
}

.profile-block .user-menu{
	z-index: 20;
}

.user-profile__rating{
	width: auto;
	max-width: max-content;
}

.complete_block{
	width: 80%;
	margin: auto;
	text-align: center;
	color: #59ba41;
	padding-top: 15px;

}
.complete_block_img{
	margin-bottom: 25px;
}
.complete_block_caption{
	font-size: 22px;
	padding-bottom: 15px;
	border-bottom: 1px solid #59ba41;
}
.complete_block_text{
	font-size: 16px;
	margin-top: 15px;
	margin-bottom: 35px;
}
.complete_block_text_bold{
	font-weight: bold;
}



.ads-list-block__action .ads-list-block__select .jq-selectbox__select .jq-selectbox__select-text{
	width: 150px !important;
	color: #393939 !important;
}

.transaction-status__text{
	background-image: none;
	padding-left: 0;
}

.transaction-status__text img{
	margin-right: 10px;
}

.tooltip-inner{
	width: 110px;
}

.infopage-block_affiliate-program:before{
	display: none;
}

.ads-list__financial-info .ads-list__rate{
	background-image: none;
}

.action-table__action-type{
	position: relative;
}

.table__action_sell .action-type_dropdown{
	width: 180px;
}