.select-wrapper {
    width: 526px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
}

.select-wrapper_payment-system {
    width: 343px;
}

.select-wrapper_payment-system.select-wrapper input {
    width: 300px;
}

.select-wrapper_bank-name {
    width: 284px;
}

.select-wrapper_bank-name.select-wrapper input {
    width: 254px;
}

.select-wrapper_currency {
    width: 147px;
}

.select-wrapper_currency.select-wrapper input {
    width: 100px;
}

.select-wrapper__input-block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.arrow-block, #arrow-block {
    width: 52px;
    height: 45px;
    border: 2px solid #b8b8b8;
    border-left: none;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.select-wrapper input {
    color: rgb(34, 34, 34);
    width: 474px;
    padding: 2px 0 1px 6px;
    height: 16px;
    float: left;
    outline: none;
    border: none;
}

.search__input[type="text"], #search__input {
    padding-left: 58px;
    border-right: none !important;
    outline: none !important;
    background: url('../images/icons/icon_search_create_ad.png') 16px center no-repeat;
}

.select-ul-wrapper {
    width: 284px;
    height: auto;
}

.select-wrapper ul, .multi__list, .select-ul {
    list-style: none;
    max-height: 337px;
    border: 2px solid #d5d5d5;
    border-top: none;
    overflow-y: auto;
    width: 100%;
}

.select-wrapper ul.small {
    height: 197px;
}

.select-wrapper ul.highest li {
    height: 77px;
    padding-top: 11px;
}

.select-wrapper ul li.error, .multi__list li.error {
    padding-top: 30px;
    background-color: #eee;
}

.multi__list ul li h5, .multi__list ul li p {
    width: 100%;
}

.multi__list ul li p {
    font-weight: 500;
}

.multi__list ul li p b {
    background-color: #e7edf2;
}

.multi__list ul li:hover {
    background: #F2F2F2;
    color: #000;
}

.select-ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    min-height: 40px;
    padding: 5px 35px 5px 0;
    border: 2px solid #b8b8b8;

    position: relative;
}

.select-ul .select-ul__li--input {
    border: 0;
    width: 100%;
    order: 5;
}

.select-ul__li--prevent {
    width: auto !important;
    background-color: #fff !important;
    border: 0 !important;
    flex-grow: 3;
    min-width: 150px;

}

.select-ul__li--prevent p {
    height: 100%;
    margin-left: 2% !important;
    padding: 3px !important;
}

.select-ul:after {
    right: 12px;
    top: 37%;
    position: absolute;
    content: "";
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    border-right: 0.2em solid #c6c8cb;
    border-top: 0.2em solid #c6c8cb;
    transform: rotate(135deg);
    margin-right: 0.5em;
    cursor: pointer;
}

.select-ul li {
    position: relative;
    float: left;
    border: 1px solid grey;
    height: 100%;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-radius: 3px;
    background-color: #eeeeee;
    cursor: default;
    margin-left: 2%;
}
.select-ul li:nth-child(n) {
    margin-top: 5px;
}

.select-ul li img {
    height: 12px;
    width: 12px;
    margin-right: 3px;
    margin-left: 10px;
    cursor: pointer;
}

.multi__list li.grey {
    color: #bab3b3;
    cursor: default;
}

.select-ul li p {
    margin-left: 7px;
    padding: 3px 0;
}

.select-ul li input, .select-ul li input:active, .select-ul li input:focus {
    width: 100%;
    border: 0 !important;
    outline: 0;
    height: 100%;
    padding: 3px;
    flex-grow: 3;
}

.select-wrapper ul li, .multi__list li {
    padding-top: 14px;
    padding-bottom: 15px;
    padding-left: 21px;
    border-bottom: 1px solid #d5d5d5;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    width: 100%;
}

.select-wrapper ul li h5, .select-wrapper ul li p {
    width: 100%;
}

.select-wrapper ul li p {
    font-weight: 500;
}

.select-wrapper ul li p b {
    background-color: #e7edf2;
}

.select-wrapper ul li:hover {
    background: #F2F2F2;
    color: #000;
}

/* style for arrow down
*/

i {
    border: solid #c6c8cb;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    cursor: pointer;
}

.down {
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}