@charset "UTF-8";
@import url("../fonts/fonts.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: none; }

body {
  font: 16px "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.75); }

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: normal; }

h1 {
  margin-bottom: 24px; }

.header {
  padding: 25px 0 35px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.11); }

.header__left {
  padding: 0; }

.header__right {
  padding: 0;
  text-align: right; }

.header__logo {
  margin-top: 9px; }

.logo {
  display: inline-block; }

.menu-login__item {
  display: inline-block; }
  .menu-login__item:first-child {
    margin-right: 26px; }

.menu-login__link {
  color: rgba(0, 0, 0, 0.7); }
  .menu-login__link:hover, .menu-login__link:focus {
    color: rgba(0, 0, 0, 0.7); }

ul > li {
  list-style: none; }

.btn-login {
  display: inline-block;
  padding: 0 32px 0 27px;
  border: 2px solid #949DA9;
  font-weight: 700;
  font-size: 14px;
  line-height: 48px;
  text-transform: uppercase;
  text-decoration: none;
  color: #949DA9;
  white-space: nowrap;
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }
  .btn-login:hover, .btn-login:focus {
    background-color: #949DA9;
    color: #FFF; }

.btn-login_header {
  margin-right: 15px; }

.btn-register-2 {
  display: inline-block;
  padding: 0 46px 0 54px;
  border: 2px solid #61ac00;
  font-weight: 700;
  font-size: 14px;
  line-height: 70px;
  text-transform: uppercase;
  text-decoration: none;
  color: #61ac00;
  white-space: nowrap;
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }
  .btn-register-2:hover, .btn-register-2:focus {
    background-color: #61ac00;
    color: #FFF; }

.btn-video {
  display: inline-block;
  padding: 0 33px 0 80px;
  border: 2px solid #ec6f00;
  font-weight: 400;
  font-size: 20px;
  line-height: 57px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ec6f00;
  white-space: nowrap;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  background-image: url("../img/icon_video.png");
  background-repeat: no-repeat; }
  .btn-video:hover, .btn-video:focus {
    background-color: #ec6f00;
    color: #FFF; }

.btn-video_about {
  margin-left: -26px; }

.btn-lime {
  display: inline-block;
  padding: 0 20px 0 19px;
  border: 2px solid #8ed600;
  font-weight: 400;
  font-size: 18px;
  line-height: 42px;
  text-transform: uppercase;
  text-decoration: none;
  color: #8ed600;
  white-space: nowrap;
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }
  .btn-lime:hover, .btn-lime:focus {
    background-color: #8ed600;
    color: #FFF; }

.btn-blue {
  display: inline-block;
  padding: 0 32px 0 25px;
  border: 2px solid #37cdff;
  font-weight: 400;
  font-size: 18px;
  line-height: 42px;
  text-transform: uppercase;
  text-decoration: none;
  color: #37cdff;
  white-space: nowrap;
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }
  .btn-blue:hover, .btn-blue:focus {
    background-color: #37cdff;
    color: #FFF; }

.btn-lime, .btn-blue {
  text-transform: none;
  color: #FFF; }

.s-top {
  background-color: #4f545a; }

.s-top__menu {
  height: 60px;
  text-align: center; }
  .s-top__menu:after {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle; }

.s-top__menu-item {
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px 0 35px; }

.s-top__menu-link {
  display: block;
  padding: 0 7px;
  border-bottom: 2px solid transparent;
  font-size: 15px;
  line-height: 30px;
  color: #FFF;
  text-transform: uppercase; }
  .s-top__menu-link:hover {
    border-bottom-color: #8ed600;
    color: #FFF; }

.s-top__menu-link_active, .s-top__menu-link:focus {
  border-bottom-color: #8ed600;
  color: #FFF; }

#touch-menu {
  display: block;
  padding: 0 7px;
  font-size: 15px;
  line-height: 60px;
  color: #FFF;
  text-transform: uppercase;
  text-align: center; }
  #touch-menu:hover {
    color: #FFF; }

#touch-menu_active {
  color: #FFF; }

.news-block {
  height: auto; }

.logo_side {
  text-align: center;
  border-bottom: 2px solid #c5c7c9;
  padding-bottom: 25px;
  margin-top: 32px; }
  .logo_side img {
    display: inline-block;
    vertical-align: middle; }

.left_block_date {
  width: 205px;
  height: 64px;
  border: 1px solid #c5c7c9;
  display: inline-block; }
  .left_block_date span {
    display: inline-block;
    vertical-align: middle;
    margin-top: 8px; }

.date_news {
  text-align: center;
  color: #8c8e91;
  font-size: 18px;
  margin-left: 23px; }

.cal_img {
  margin-left: 13px; }

.right_block_h {
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  text-transform: uppercase;
  color: #3f5e82;
  margin-left: 35px;
  cursor: pointer; }

.part_of_article {
  padding-bottom: 10px;
  border-bottom: 1px solid #c5c7c9;
  margin-bottom: 35px; }

.main-content {
  padding: 59px 0 0;
  background: #F8F6F9; }

.main-content_frontpage {
  text-align: center; }
  .main-content_frontpage .our-advantages {
    margin-bottom: 40px; }
  .main-content_frontpage .block-about {
    margin-bottom: 39px; }

.main-content__bottom {
  padding: 55px 0; }

.page-title {
  font-size: 50px; }

.heading2, .start-date {
  display: inline-block;
  padding: 20px 0;
  font-size: 27px;
  color: #A4926B; }
  .heading2_bordered {
    border-top: 1px solid #dddbde;
    border-bottom: 1px solid #dddbde; }

.btn-register {
  display: inline-block;
  padding: 14px 41px 12px 36px;
  border: 3px solid #a4926b;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 16px;
  color: #A4926B;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .btn-register:hover, .btn-register:focus {
    background: #A4926B;
    color: #FFF;
    text-decoration: none; }

.our-advantages__title {
  margin-bottom: 45px; }

.advantages-list {
  text-align: center; }

.advantages-list__item-wrapper {
  padding: 20px 15px 25px;
  border: 1px solid #e5e5e5;
  background: #FFF; }

.advantages-list__img {
  margin-bottom: 22px; }

.advantages-list__title {
  font-size: 18px; }

.block-about__title {
  margin-bottom: 35px;
  padding: 30px 0; }

.block-about__text {
  margin-bottom: 33px;
  font-size: 18px; }

.block-about__par {
  margin-bottom: 20px; }

.start-date {
  position: relative;
  padding: 27px 0;
  border-top: 1px solid #dddbde;
  border-bottom: 1px solid #dddbde;
  letter-spacing: 0.015em; }
  .start-date:before {
    content: "";
    position: absolute;
    left: -54px;
    top: 0;
    bottom: 0;
    width: 36px;
    height: 36px;
    margin: auto;
    background: url("../img/start_date_icon.png") 0 0 no-repeat; }

.main_content_news {
  margin-top: 41px; }

.spoiler-body {
  width: 672px;
  text-align: left;
  margin-left: 244px; }
  .spoiler-body p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #111111;
    text-shadow: 0px 0px 0px; }

.answers-block .items {
  font-size: 0px; }
.answers-block .tabs {
  text-align: center; }
.answers-block ul.items > li {
  width: 50%;
  margin-left: 0px; }
.answers-block .marker {
  width: 570px;
  background: #e1a823; }
.answers-block .tabs .items li:nth-child(2).active-tab ~ .marker {
  margin-left: 550px !important;
  width: 590px; }
.answers-block ul.items > li > a {
  font-family: "OpenSans", sans-serif;
  color: #7c838c; }
.answers-block .active-tab > a {
  color: #3e3e3e !important; }

.about_work_services {
  margin-top: 50px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d4d5d6; }
  .about_work_services p {
    font-size: 16px;
    color: #000;
    margin-bottom: 20px; }
    .about_work_services p a {
      color: #2f77b3;
      text-decoration: underline;
      font-size: 16px; }

.center_info_text {
  text-align: center;
  display: block;
  margin-bottom: 70px; }
  .center_info_text a {
    color: #2f77b3;
    font-size: 16px; }

.main_advertisers .table {
  border-collapse: collapse;
  margin-top: 70px;
  margin: 0 auto;
  text-align: center; }
.main_advertisers thead th {
  width: 193px;
  height: 108px; }
.main_advertisers thead tr th:first-child {
  width: 415px !important; }
.main_advertisers tbody tr {
  height: 64px; }
  .main_advertisers tbody tr:first-child {
    border-top: 1px solid #b4b4b4; }
  .main_advertisers tbody tr:last-child {
    border-bottom: 1px solid #b4b4b4; }
  .main_advertisers tbody tr td {
    height: 64px; }
.main_advertisers td img {
  margin-top: 10px; }
.main_advertisers .unstrong-table-top {
  color: #fff;
  font-family: "Roboto-Regular";
  font-size: 17px;
  font-weight: normal;
  text-transform: uppercase; }
.main_advertisers .strong-table-bott {
  padding-top: 10px;
  color: #fff;
  display: block;
  font-family: "Roboto-Bold";
  font-size: 28px;
  font-weight: normal;
  text-transform: uppercase; }
.main_advertisers .bold-q {
  font-family: "Roboto-Bold";
  font-size: 24px;
  color: #fff; }
.main_advertisers .tab-price {
  font-family: "Roboto-Regular";
  font-size: 24px;
  color: #fff; }
.main_advertisers .zebra-column td:last-child, .main_advertisers .another-zebra-column td:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.11); }
.main_advertisers .zebra-column td:first-child, .main_advertisers .another-zebra-column td:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.11); }
.main_advertisers .zebra-column td:nth-child(2n+1) {
  background: #e3e3e3; }
.main_advertisers .zebra-column td:nth-child(2n+2) {
  background: #ebebeb; }
.main_advertisers .another-zebra-column td:first-child {
  background: #f7f7f7; }
.main_advertisers .another-zebra-column td:nth-child(2n+3) {
  background-color: #f6f6f6; }
.main_advertisers tbody > .another-zebra-column:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.11); }

.text__another {
  font-size: 25px;
  text-align: center;
  display: block;
  margin-top: 17px;
  font-family: "OpenSans";
  color: #9c9c9c;
  text-transform: uppercase;
  font-weight: normal; }

.cloumn_img img {
  margin-top: 20px; }

.main_advertisers .light-text {
  font-size: 16px;
  font-family: "OpenSans", sans-serif;
  text-align: right;
  margin-right: 30px;
  color: #000; }

.com__text_adv {
  display: block;
  text-align: center;
  margin-top: 50px; }
  .com__text_adv p {
    font-size: 16px;
    font-family: "OpenSans", sans-serif;
    color: #111111; }
    .com__text_adv p:last-child {
      text-align: center; }
    .com__text_adv p:first-child {
      margin-bottom: 30px; }

.text_in__table {
  font-size: 18px;
  font-family: "OpenSans";
  color: #8b8b8b;
  text-transform: uppercase; }

.mod_green {
  color: #61ac00; }

.table_wrap_mod {
  margin-bottom: 70px;
  margin-top: 10px; }

.main_about-project h2 {
  font-size: 19px;
  color: #61ac00;
  text-transform: uppercase;
  text-align: center;
  width: 460px;
  margin: 0 auto;
  border-bottom: 1px solid #d4d5d6;
  padding-bottom: 33px;
  margin-top: 25px; }

.btn-video_about {
  margin-left: -26px;
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 382px; }

.contacts-block .elem-conection-wrap {
  margin-top: 60px; }
.contacts-block .pcb-top > img {
  height: 110px; }
.contacts-block .pcb-middle > a {
  color: inherit;
  font-size: inherit; }

.cloud_block {
  display: inline-block;
  vertical-align: middle;
  width: 257px;
  height: 58px;
  background-position: center center;
  background-size: contain;
  font-size: 22px;
  font-family: "OpenSans";
  text-align: center;
  padding-left: 16px;
  padding-top: 12px;
  text-transform: uppercase; }

.color_mod__ylw {
  color: #e3b30d;
  background: url(../img/rekdat.png) no-repeat;
  background-position: center center;
  background-size: contain; }

.color_mod__gry {
  color: #7c838c;
  background: url(../img/answers.png) no-repeat;
  background-position: center center;
  background-size: contain;
  font-size: 19px;
  padding-top: 15px; }

.color_mod__news {
  color: #61ac00;
  background: url(../img/news.png) no-repeat;
  background-position: center center;
  background-size: contain;
  font-size: 19px;
  padding-top: 15px;
  width: 185px; }

.items li {
  display: inline-block;
  margin-left: 7px; }

.tabs .items li:first-child.active-tab ~ .marker {
  margin-left: 0 !important; }
.tabs .items li:nth-child(2).active-tab ~ .marker {
  margin-left: 315px !important;
  width: 470px; }
.tabs .items li:nth-child(3).active-tab ~ .marker {
  margin-left: 790px !important;
  width: 380px; }

.items li a {
  font-family: "OpenSans";
  font-size: 22px;
  color: #82898e;
  margin: 0 19px;
  display: block; }

.active-tab > a {
  color: #4a8f1d !important; }

.items {
  border-bottom: 2px solid #e3e3e3;
  margin-top: 70px; }

.marker {
  display: block !important;
  height: 4px;
  display: block !important;
  height: 4px;
  width: 315px;
  margin-left: 0px !important;
  background: #5ba829;
  margin-top: 15px;
  margin-bottom: -2px;
  transition: all 1s cubic-bezier(1, 0.4, 0.58, 1); }

.hlp-blk {
  color: #1c2831 !important;
  width: 100%;
  margin-top: 40px; }

.active-prof {
  border-bottom: 4px solid #e1a823 !important;
  color: #4a8f1d !important; }

.set-profile-h {
  font-family: "OpenSans";
  font-size: 27px;
  text-align: center;
  width: 585px;
  height: 70px;
  padding: 15px;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: -2px;
  color: #82898e; }

.hlp-blk-1 {
  text-align: center;
  margin-top: 80px;
  color: #49535a; }

.my-interviews {
  font-family: "OpenSans";
  margin-top: 48px;
  font-weight: normal;
  font-size: 27px;
  border-bottom: 2px solid #e3e3e3;
  padding-bottom: 17px;
  color: #1c2831; }

.time-info {
  display: table;
  margin: 100px auto; }

.pcb-top {
  width: 260px;
  height: 250px;
  border: 1px solid #c2c2c2;
  border-radius: 10px; }
  .pcb-top > img {
    display: table;
    margin: 28px auto; }

.pcb-middle {
  height: 72px;
  width: 260px;
  margin-left: -1px;
  margin-top: 41px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: block;
  background: #03afef;
  text-align: center;
  padding-top: 17px;
  font-size: 25px;
  color: #fff;
  font-family: opensans; }

.pcb-bottom {
  height: 37px;
  background: url("../img/marker-background.png") no-repeat center;
  margin-top: 17px;
  width: 260px;
  text-align: center;
  font-size: 18px;
  font-family: opensans;
  color: #414a50;
  padding-top: 6px; }

.part-conn-block {
  width: 260px;
  display: inline-block;
  margin-right: 43.3px; }
  .part-conn-block:last-child {
    margin-right: 0px; }
  .part-conn-block:first-child .pcb-middle {
    margin-top: 38px; }

.elem-conection-wrap {
  display: table;
  margin-left: 1px;
  margin-right: -1px;
  margin-top: 60px; }

.time-info {
  display: table;
  margin: 100px auto; }
  .time-info span {
    font-family: opensans;
    font-size: 23px;
    color: #49535a;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px; }

.align-top {
  margin-top: -2px;
  margin-right: 5px; }

.set-profile-h {
  width: 100%; }

@media screen and (min-width: 992px) {
  #touch-menu {
    display: none; } }
.s-about {
  padding: 52px 0 57px;
  text-align: center; }

.s-about__title {
  margin-bottom: 15px;
  text-indent: -10px; }

.s-about__text {
  margin-bottom: 51px;
  font-size: 18px;
  line-height: 23px;
  color: #7C838C; }

.dark-section {
  padding: 27px 0 35px;
  background-color: #374555;
  color: #FFF; }

.dark-section__title {
  margin-bottom: 47px;
  text-transform: uppercase;
  text-align: center;
  text-indent: -12px; }
  .dark-section__title:after {
    content: "";
    display: block;
    position: relative;
    right: 8px;
    margin: 13px auto 0;
    width: 85px;
    height: 2px;
    background-color: #cdd0d4; }

.s-workscheme {
  padding-bottom: 38px; }

.s-workscheme__box {
  padding: 0;
  text-align: center; }

.s-workscheme__box-container {
  padding: 0 100px; }

.s-workscheme__box:not(:last-child):after {
  content: "";
  position: absolute;
  top: 50%;
  width: 141px;
  height: 8px;
  margin-top: -18px;
  background: url("../img/arrow.png") 0 0 no-repeat; }
.s-workscheme__box:first-child:after {
  right: -74px; }
.s-workscheme__box:nth-child(2):after {
  right: -71px; }

.s-workscheme__box-title {
  margin-bottom: 19px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase; }

.s-workscheme__box-img {
  margin-bottom: 22px; }

.s-workscheme__box-text {
  line-height: 17px; }

.s-workscheme__link {
  color: #8ED600;
  text-decoration: underline; }
  .s-workscheme__link:hover {
    color: #8ED600;
    text-decoration: none; }

.s-earnings {
  padding: 43px 0 0;
  font-size: 18px; }

.s-earnings__title {
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
  text-indent: -17px; }
  .s-earnings__title:after {
    content: "";
    display: block;
    position: relative;
    right: 8px;
    margin: 13px auto 0;
    width: 85px;
    height: 2px;
    background-color: #b7bbc0; }

.s-earnings__register {
  padding: 33px 0 38px;
  text-align: center; }

.s-earnings__register-link {
  margin-right: 25px; }

.number-polls, .final-earnings, .s-earnings__register {
  background: #f7f7f7; }

.number-polls__container, .number-friends__container {
  max-width: 800px;
  margin: 0 auto; }

.number-polls__item, .number-polls__number-wrap, .number-friends__item, .number-friends__number-wrap {
  display: inline-block;
  vertical-align: top; }

.number-polls__item, .number-friends__item {
  width: 661px;
  max-width: 100%;
  padding-left: 103px; }

.number-polls__slider, .number-friends__slider {
  width: 97%; }

.number-polls .ui-slider .ui-slider-handle, .number-friends .ui-slider .ui-slider-handle {
  top: -8px;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  background: url("../img/slider_thumb.png") 0 0 no-repeat;
  cursor: pointer; }

.number-polls__number, .number-friends__number {
  width: 100px;
  height: 56px;
  border: 1px solid #a6a6a6;
  font-weight: 700;
  font-size: 28px;
  line-height: 54px;
  color: #61AC00;
  text-align: center;
  text-indent: -6px; }

.ui-widget.ui-widget-content {
  border: none; }

.ui-widget-content {
  background: url("../img/bg_slider.png") 0 0 repeat-x; }

.number-polls .ui-widget-header {
  background: url("../img/bg_slider_orange.png") 0 0 repeat-x; }

.number-friends .ui-widget-header {
  background: url("../img/bg_slider_green.png") 0 0 repeat-x; }

.number-polls {
  padding: 23px 0 18px; }

.number-polls__item {
  background: url("../img/bg_number_polls.png") 0 4px no-repeat; }

.number-polls__label {
  margin-bottom: 18px; }

.number-polls__number {
  margin-top: 2px; }

.number-friends {
  padding: 29px 0 28px; }

.number-friends__item {
  background: url("../img/bg_number_friends.png") 0 2px no-repeat; }

.number-friends__label {
  margin-bottom: 12px;
  text-align: center;
  text-indent: -28px; }

.final-earnings {
  padding: 20px 0 0; }

.final-earnings__container {
  max-width: 872px;
  margin: 0 auto; }

.final-earnings__text {
  padding-left: 153px;
  background: url("../img/bg_final_earnings.png") 0 9px no-repeat;
  line-height: 19px;
  overflow: hidden; }

.final-earnings p {
  margin-bottom: 18px;
  font-size: 18px; }

.final-earnings__result {
  display: inline-block;
  margin-bottom: -6px;
  margin-left: 3px;
  padding: 0 16px 0 11px;
  background: #61AC00;
  font-weight: 700;
  font-size: 22px;
  line-height: 42px;
  white-space: nowrap;
  color: #FFF; }

.s-advantages {
  padding: 37px 0 54px; }

.s-advantages__title {
  margin-bottom: 65px;
  padding-right: 25px; }
  .s-advantages__title:after {
    margin-top: 15px; }

.s-advantages__box {
  display: inline-block;
  text-align: center;
  width: 19%; }

.s-advantages__box-container {
  font-size: 0; }

.s-advantages__box-img {
  min-height: 74px; }

.s-advantages__box-title {
  font-size: 18px; }

.s-partners {
  padding: 51px 5px 51px 0; }

.s-partners__title {
  margin-bottom: 34px;
  text-transform: uppercase;
  text-align: center; }
  .s-partners__title:after {
    content: "";
    display: block;
    position: relative;
    right: 8px;
    margin: 21px auto 0;
    width: 85px;
    height: 2px;
    background-color: #b7bbc0; }

.s-partners__list {
  max-width: 890px;
  margin: 0 auto 9px; }

.s-partners__item {
  list-style: none;
  display: inline-block;
  min-height: 80px;
  margin: 0 12px; }

.s-partners__other {
  text-align: center;
  text-indent: 23px; }

.s-partners__other-link {
  font-size: 18px;
  color: #4f545a; }

.earnings-customers {
  padding: 45px 0 29px; }

.earnings-customers__title {
  margin-bottom: 60px;
  text-transform: uppercase;
  text-align: center;
  text-indent: -51px; }
  .earnings-customers__title:after {
    content: "";
    display: block;
    position: relative;
    right: 8px;
    margin: 21px auto 0;
    width: 85px;
    height: 2px;
    background-color: #b7bbc0; }

.earnings-customers__container {
  margin-bottom: 8px;
  padding: 0 27px; }

.earnings-customers__box {
  margin-bottom: 28px; }

.earnings-customers__box_odd {
  padding-right: 26px; }

.earnings-customers__box_even {
  padding: 0 57px; }

.earnings-customers__box-inner {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.22); }

.earnings-customers__photo {
  float: left; }

.earnings-customers__content {
  margin-left: 85px; }

.earnings-customers__content-top {
  margin-bottom: 12px;
  padding-top: 5px; }

.earnings-customers__name {
  display: inline-block;
  padding: 0 11px;
  background: #4f545a;
  font-size: 14px;
  line-height: 22px;
  color: #fff; }

.earnings-customers__email {
  display: inline-block;
  margin-left: 5px;
  font-size: 14px; }

.earnings-customers__earnings span {
  font-weight: 700;
  color: #00950E; }

.earnings-customers__other {
  text-align: center;
  text-indent: 10px; }

.earnings-customers__other-link {
  font-size: 18px;
  color: #4f545a; }

.s-statistic {
  padding: 47px 0 66px; }

.s-statistic__title {
  margin-bottom: 62px; }

.s-statistic__box {
  padding: 0;
  text-align: center; }

.s-statistic__box-container {
  padding: 0 60px; }

.s-statistic__box-circle {
  position: relative;
  margin-bottom: 14px; }

.s-statistic__box-units {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: 4px;
  font-weight: 700;
  font-size: 15px; }

.s-statistic__box-text {
  font-size: 14px;
  line-height: 18px; }

.s-register {
  padding: 59px 20px 49px 0;
  text-align: center; }

.s-register__text {
  margin-bottom: 44px;
  font-size: 25px;
  line-height: 30px; }

.contacts-block .pcb-middle a {
  color: inherit;
  font-size: inherit; }

.footer {
  padding: 19px 104px 19px 0;
  font-size: 14px;
  text-align: center; }

.footer__copyright, .footer__email {
  display: inline-block; }

.footer__copyright {
  margin-right: 40px; }

.footer__email {
  margin-left: 50px; }

@media screen and (max-width: 768px) {
  .page-title {
    font-size: 45px; } }
@media screen and (max-width: 660px) {
  .footer {
    padding-right: 0; }
    .footer__copyright, .footer__email {
      margin: 0; } }
@media screen and (max-width: 480px) {
  .page-title {
    font-size: 40px; }

  .footer__copyright, .footer__email {
    display: block;
    text-align: center; }
  .footer__separate {
    display: none; } }
@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 510px; } }
.modal-content {
  border: none;
  background: transparent;
  box-shadow: none; }
  .modal-content a {
    text-decoration: none; }

.modal-header, .modal-body, .modal-footer {
  padding-left: 0;
  padding-right: 0; }

.modal-header {
  padding-bottom: 25px; }
  .modal-header .close {
    position: absolute;
    top: 21px;
    right: -33px;
    width: 20px;
    height: 19px;
    background: url("images/modal_close_icon.png") 0 0 no-repeat;
    cursor: pointer; }
    .modal-header .close:hover {
      opacity: 0.75; }
  .modal-header h4 {
    margin-left: 5px;
    font-weight: normal;
    font-size: 22px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFF;
    text-align: center; }

.modal-body {
  padding-top: 0;
  padding-bottom: 0;
  background: #FFF; }
  .modal-body .social-login {
    height: 99px;
    padding-right: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: #F6F6F8;
    font-size: 18px;
    text-align: center;
    color: #5E6267; }
    .modal-body .social-login:before, .modal-body .social-login .label, .modal-body .social-login .social-link {
      vertical-align: middle; }
    .modal-body .social-login:before {
      content: "";
      display: inline-block;
      height: 100%; }
    .modal-body .social-login .social-link {
      margin-left: 10px; }
  .modal-body .form-control {
    width: 100%;
    height: 71px;
    padding-left: 46px;
    border: none;
    outline: none;
    font-size: 20px;
    color: #35373f; }
    .modal-body .form-control::-webkit-input-placeholder, .modal-body .form-control::-moz-placeholder, .modal-body .form-control:-moz-placeholder, .modal-body .form-control:-ms-input-placeholder {
      color: #A4AAB1; }
    .modal-body .form-control:focus::-webkit-input-placeholder, .modal-body .form-control:focus::-moz-placeholder, .modal-body .form-control:focus:-moz-placeholder, .modal-body .form-control:focus:-ms-input-placeholder {
      color: transparent; }
  .modal-body input[name="login"] {
    border-bottom: 1px solid rgba(160, 160, 160, 0.55); }
  .modal-body input[type="submit"] {
    width: 100%;
    height: 82px;
    margin-bottom: -1px;
    padding-right: 12px;
    border: none;
    outline: none;
    background: #C3C8CE;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff; }
  .modal-body input.error {
    background: none; }
  .modal-body .has-success input {
    background: none; }

.modal-footer #textForm0 {
  float: left; }
.modal-footer .register-link {
  float: right; }

#modal-forgot-pass .modal-header h4 {
  margin-right: 15px;
  margin-left: 0; }

#modal-register .modal-body .form-control {
  border-bottom: 1px solid rgba(160, 160, 160, 0.55); }
#modal-register .modal-body .registration-conditions {
  padding: 25px 0 12px;
  background: #F6F6F8; }
  #modal-register .modal-body .registration-conditions li {
    margin-bottom: 6px;
    padding-left: 47px;
    background: url("images/ok.png") 23px 5px no-repeat; }
#modal-register .modal-body a:focus, #modal-register .modal-body a:hover {
  color: #FF8D58; }

.modal-backdrop {
  opacity: 0.85 !important; }

.block-menu-contacts {
  position: fixed;
  top: 0;
  z-index: 10;
  right: -400px;
  width: 400px;
  height: 100%;
  padding-top: 62px;
  background: rgba(47, 39, 37, 0.97);
  -webkit-transition: right 0.25s ease-in;
  transition: right 0.25s ease-in; }
  .block-menu-contacts .close {
    position: absolute;
    right: 19px;
    top: 21px;
    width: 20px;
    height: 20px;
    background: url("images/close_icon.png") 0 0 no-repeat;
    cursor: pointer; }
    .block-menu-contacts .close:hover {
      opacity: 0.7; }
  .block-menu-contacts h2 {
    margin-bottom: 38px;
    margin-left: 14px;
    font-size: 30px;
    text-align: center;
    color: #FFF; }
  .block-menu-contacts .contact {
    list-style: none;
    margin-bottom: 25px;
    padding-bottom: 34px;
    padding-left: 94px; }
    .block-menu-contacts .contact:not(:last-child) {
      border-bottom: 1px solid #5e5856; }
    .block-menu-contacts .contact .name {
      font-size: 30px;
      color: #FFF; }
      .block-menu-contacts .contact .name a {
        font-size: 30px;
        color: #FFF; }
    .block-menu-contacts .contact .working-hours {
      color: #85807F; }
    .block-menu-contacts .contact a {
      color: #FFF; }
  .block-menu-contacts .mail {
    margin-left: 3px;
    background: url("images/contacts_icon_mail.png") 18px 4px no-repeat; }
  .block-menu-contacts .vk {
    margin-left: 3px;
    background: url("images/contacts_icon_vk.png") 18px 18px no-repeat; }
  .block-menu-contacts .skype {
    margin-left: 1px;
    background: url("images/contacts_icon_skype.png") 20px 8px no-repeat; }
  .block-menu-contacts .viber {
    background: url("images/contacts_icon_viber.png") 16px 6px no-repeat; }

.form-error {
  position: relative;
  margin: 0;
  padding-left: 18px;
  background: #E35F51;
  color: #fff !important; }
  .form-error:before {
    content: "";
    position: absolute;
    top: -12px;
    left: 32px;
    border: 6px solid transparent;
    border-bottom-color: #E35F51; }

.modal .form-error {
  margin: 0;
  line-height: 41px; }

.form-error.form-verification__form-error {
  right: 110px;
  max-width: 568px;
  margin: 10px auto 0;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 26px;
  text-align: left;
  color: #FFF; }

.block-error {
  position: relative;
  padding-left: 18px;
  background: #E35F51;
  line-height: 41px;
  color: #FFF; }

.btn-green_non-hovered {
  background: #C3C8CE !important; }
  .btn-green_non-hovered:hover {
    background: #C3C8CE !important; }

.btn-green_hovered {
  background: #98CF66 !important; }
  .btn-green_hovered:hover {
    background: #8EC448 !important; }

.btn-default2 {
  display: inline-block;
  width: 197px;
  border: 1px solid rgba(255, 255, 255, 0.77);
  font-size: 14px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.77);
  text-align: center; }
  .btn-default2:hover {
    border-color: #fff;
    outline: none !important;
    color: #FFF;
    text-decoration: none !important; }
  .btn-default2:active, .btn-default2:visited {
    outline: none !important;
    color: #FFF;
    text-decoration: none !important; }

@media screen and (max-width: 991px) {
  .s-top__menu {
    display: none;
    height: auto; }
    .s-top__menu:after {
      display: none; }

  .s-top__menu-item {
    display: block;
    margin: 0 0 15px; } }
@media screen and (max-width: 480px) {
  .header {
    padding: 20px 0; }

  .header__left, .header__right {
    text-align: center; }

  .header__left {
    margin-bottom: 20px;
    padding-top: 0; }

  h1 {
    font-size: 32px; }

  h2 {
    font-size: 20px; }

  .dark-section__title {
    margin-bottom: 25px; }

  .s-about {
    padding: 15px 0 25px; }

  .s-about__title {
    margin-bottom: 10px;
    text-indent: 0; }

  .s-about__text {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 20px; }

  .s-workscheme {
    padding-bottom: 10px; }

  .s-workscheme__box {
    margin-bottom: 40px; }
    .s-workscheme__box:not(:last-child):after {
      display: none; }

  .s-earnings {
    padding: 25px 0 0; }

  .s-earnings__title {
    margin-bottom: 25px; }

  .s-earnings__register {
    padding: 10px 0 25px; }

  .number-polls__item, .number-friends__item {
    margin-bottom: 20px;
    padding-left: 80px; }

  .number-polls__number, .number-friends__number {
    width: 84px;
    height: 46px;
    line-height: 44px; }

  .number-polls__number-wrap, .number-friends__number-wrap {
    display: block;
    text-align: center; }

  .number-polls__item {
    background-position: 15px 4px; }

  .number-friends__item {
    background-position: 12px 2px; }

  .number-friends__label {
    text-align: left;
    text-indent: 0; }

  .final-earnings__text {
    padding-left: 145px;
    background-position: 14px 9px; }

  .final-earnings__result {
    margin: 4px 0; }

  .see-calc {
    font-size: 15px; }

  .s-advantages {
    padding: 25px 0 20px; }

  .s-advantages__title {
    padding-right: 0; }

  .s-advantages__box {
    display: block;
    width: auto;
    margin-bottom: 30px;
    text-align: center; }

  .earnings-customers {
    padding: 25px 0; }

  .earnings-customers__title {
    margin-bottom: 25px;
    text-indent: 0; }

  .earnings-customers__container {
    padding: 0; }

  .earnings-customers__box_even {
    padding: 0 15px; }

  .earnings-customers__box_odd {
    padding-right: 15px; }

  .earnings-customers__box:last-child {
    margin-bottom: 15px; }

  .s-statistic {
    padding: 30px 0 20px; }

  .s-statistic__box {
    margin-bottom: 30px; }

  .s-register {
    padding: 30px 10px 35px; }

  .s-register__text {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 24px; } }
/* Страница с партнёрами */
#modal_form, #modal_form_1 {
  display: none; }

.header_page-partners {
  padding-bottom: 41px; }

.menu-user__item, .menu-user__separator {
  display: inline-block; }
.menu-user__separator {
  margin-right: 16px;
  margin-left: 11px; }
.menu-user__email {
  font-size: 18px; }
.menu-user__link {
  color: rgba(0, 0, 0, 0.75); }

.header__menu-user {
  margin-top: 16px; }

.main-content_partners {
  padding-top: 34px;
  text-align: center; }
  .main-content_partners .partner-link {
    margin-bottom: 38px; }
  .main-content_partners .share-information {
    margin-bottom: 39px; }
  .main-content_partners .table-partners {
    margin-bottom: 312px; }

.partner-link__title {
  margin-bottom: 22px; }
.partner-link__input {
  height: 71px;
  width: 551px;
  border: 1px solid #e3e3e3;
  font-size: 27px;
  color: #5BA829;
  text-align: center; }

.share-information__title {
  display: inline-block;
  margin-bottom: 26px;
  padding: 31px 0;
  border-top: 1px solid #dddbde;
  border-bottom: 1px solid #dddbde;
  font-size: 22px; }
.share-information__par {
  margin-bottom: 18px;
  font-size: 18px; }

.block-partners__title {
  display: block;
  border-bottom: 2px solid #a4926b; }
.block-partners__empty-text {
  margin: 237px 0 313px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.35); }

.table-partners {
  width: 100%; }
  .table-partners thead {
    font-size: 18px; }
    .table-partners thead td {
      height: 66px; }
  .table-partners tr {
    border-bottom: 1px solid #dddbde; }
  .table-partners td {
    text-align: center; }
    .table-partners td:first-child {
      width: 12%; }
    .table-partners td:nth-child(2) {
      width: 24%; }
    .table-partners td:nth-child(3) {
      width: 42%; }
    .table-partners td:last-child {
      width: 22%; }
  .table-partners tbody td {
    height: 46px; }
  .table-partners tbody tr:first-child td {
    height: 59px;
    padding-bottom: 10px;
    vertical-align: bottom; }

/*# sourceMappingURL=style.css.map */
